.row{
margin-top:80px;

}

.asset-graph-section{
  display:flex;
  flex-flow: column nowrap;
  gap:50px; 
 /*  justify-content: center; */
  align-items: flex-start;
  margin-top: 50px;
  margin-left:80px;

/*   position: relative;
  top:80px; */
}

.async-select {
/*   position: relative;
  top: 20px; */
  width: 60%;
  
}

.asset-graph {
  width: 60%;  
/*   background-color: lightblue; */
 /*  height: 50%; */
  /* border: 1px solid black; */
}


.asset-title{
width:60%;
text-align:left;

}