.row {
  margin-top: 120px;
  margin-left: 20px;
}

.asset-graph-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  /*  justify-content: center; */
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 80px;

  /*   position: relative;
  top:80px; */
}

.async-select {
  position: relative;
  top: -20px;
  width: 70%;
}

.async-select:hover {
  color: black;
}

.async-select:focus {
    /* border-color: black; */
}

.asset-graph {
  width: 70%;

}

.asset-title {
  width: 70%;
  text-align: left;
}

.top-news-title{
  /* position:relative;
  left:42px;
  top:-10px; */
  margin: 20px 40px;
}

ul.cards-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.card {
  width: 725px;
  height: 130px;

}

.card-summary{
  width: 600px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}