.row {
  margin-top: 120px;
  margin-left: 20px;
}

.asset-graph-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px;
  margin-left: 80px; */
}

.async-select {
  align-self: flex-start;
  margin-left:135px;
  width: 34%;
  position:relative;
  bottom:60px;

}

.async-select:hover {
  color: black;
}

.async-select:focus {
  /* border-color: black; */
}

/* .asset-graph {
  width: 100%;
} */

.chart-icon{
  align-self: flex-end;
  position:relative;
  right:160px;
  bottom: 135px;
}

.asset-stats {
  width: 75%;
  text-align: left;
}

.statistic-component {
  margin-bottom: -40px;
}

.top-news-title {
  /* position:relative;
  left:42px;
  top:-10px; */
  margin: 20px 40px;
}

ul.cards-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.card {
  width: 680px;
  height: 150px;
}

.card-summary {
  width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
