.logo {
  float: left;
  width: 240px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: #000000;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.menu {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.header-buttons {
  position: relative;
  bottom: 60px;
  left: 1560px;
}

.signup-button{
  color: #000000;
}

.layout {
  min-height: 100vh;
}

.footer {
  padding-top: 100px;
}
