.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-buttons{
position:relative;
bottom:60px;
left:1560px;

}

.layout {
  min-height: 100vh;
}

.footer {
  padding-top: 100px;
}
